@import "reboot";
@import "variables";
@import "modal";
@import "button";
@import "input";

.main-nav {
    margin: @outer-margin;
    padding: @base-padding;
    text-align: right;

    a {
        display: inline-block;
        margin-left: @icon-margin;
    }
}

.material-icons {
    color: @color-typo-secondary;
    user-select: none;
}

.projects-modal {
    max-width: 900px;
}

.projects-form {
    position: relative;

    nav {
        .material-icons {
            margin-right: @icon-margin;
            font-size: @space-m;
        }
    }

    > table {
        width: 100%;
        table-layout: fixed;
    }
}

.projects-form__sort-actions {
    width: @space-xl;
    text-align: center;

    .material-icons {
        margin: @space-xs 0;
    }
}

.projects-form__loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.projects-form__loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background: white;
}

.projects-form__loading-text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    line-height: @space-m;
    font-size: @space-m;
    margin-top: -@space-m/2
}

.projects__title {
    text-align: center;
    font-size: @space-m;
    margin-bottom: @space-m;
}

.projects-cell {
    vertical-align: top;
    width: 50%;

    .projects {
        margin: 0 auto;
        overflow: auto;

        @level-offset: @space-m;

        .projects__list-container {
            overflow: auto;
            margin: @space-s 0;

            li {
                height: @space-xl;
                position: relative;
            }

            .level_1 .projects__project-name{ padding-left: @level-offset*1; }
            .level_2 .projects__project-name{ padding-left: @level-offset*2; }
            .level_3 .projects__project-name{ padding-left: @level-offset*3; }
            .level_4 .projects__project-name{ padding-left: @level-offset*4; }
            .level_5 .projects__project-name{ padding-left: @level-offset*5; }
            .level_6 .projects__project-name{ padding-left: @level-offset*6; }
            .level_7 .projects__project-name{ padding-left: @level-offset*7; }
        }

        // TODO: remove
        ul .projects__project-name {
            padding-left: @level-offset*0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .projects__copy-button {
            position: absolute;
            top: @space-xxxs;
            font-size: @space-l;
            color: @color-typo-secondary;
            display: none;
        }

        li:hover {
            background: #ffffe5;
            .projects__copy-button {
                color: @color-typo-primary;
                display: block;
            }
        }

        li.projects__project-selected, li.projects__project-selected:hover {
            background: #cbba83;
        }

        .projects__project-name-highlight {
            background: yellow;
        }
    }
}

.projects-cell__visible {

    li {
        padding: 0 @space-xl 0 @space-xs;
    }

    .projects__copy-button {
        right: @space-xxxs;
    }
}

.projects-cell__hidden {

    li {
        padding: 0 @space-xs 0 @space-xl;
    }

    .projects__copy-button {
        left: @space-xxxs;
    }
}

.projects__search {
    height: @space-xxl;

    input {
        width: 100%;
    }
}

.projects__project-name_ghost {
    opacity: .4;
}

.projects__project-selected {
    background: lightblue;
}

#console {
    position: absolute;
    top: 0;
    right: -320px;
    border: 1px solid black;
    width: 300px;
    background: @color-ghost;
    height: 400px;
}

